# Framework principal y Servidor
fastapi==0.61.1
uvicorn==0.12.3

# Base de Datos (SQLAlchemy 1.3 es la más estable para Python 3.6)
sqlalchemy==1.3.24
pymysql==1.0.2
cryptography==3.4.8

# Validación de Datos y Variables de Entorno
pydantic==1.8.2
python-dotenv==0.19.2

# Seguridad y Criptografía
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-multipart==0.0.5

# Utilidades
email-validator==1.1.3